<launch>
  <node name="dummy_gps" pkg="rc_car" type="dummy_gps.py" output="screen" />
  <node name="pose_estimator" pkg="rc_car" type="pose_estimator.py" output="screen" />
  <node name="rc_car_sim" pkg="rc_car" type="rc_car_sim.py" output="screen" />
  <node name="stanley_controller" pkg="rc_car" type="stanley_controller.py" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="$(find rc_car)/rviz/sim.rviz" output="screen" />
</launch>
